.button {
  font-size: 22px;
  background-color: #D6EEEE;
  border: none;
  cursor: pointer;
  opacity: 0.75;
  padding: 10px;
  border-radius: 5px;
}

.button:hover {
  box-shadow: inset 0px 4px 17px -7px rgba(0,0,0,0.1);
  opacity: 1;
}